{
  "presets": [
    "es2015"
  ],
  "env": {
    "production": {
      "plugins": [
        "add-module-exports"
      ]
    },
    "development": {
      "plugins": [
        "jsdoc-to-assert",
        "add-module-exports"
      ]
    }
  }
}